language: objective-c
osx_image: xcode10.1
env:
  - DESTINATION="OS=12.1,name=iPhone XS" SCHEME="XLProjectName" SDK=iphonesimulator12.1

before_install:
- brew update
- brew outdated carthage || brew upgrade carthage
- carthage update --platform iOS
- gem install xcpretty --no-ri --no-document --quiet

script:
- xcodebuild clean build -workspace XLProjectName/XLProjectName.xcworkspace -scheme "$SCHEME" -sdk "$SDK"
- xcodebuild test -workspace XLProjectName/XLProjectName.xcworkspace -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" | xcpretty -c
